:root {
  --link-focus-color: #2196f3;
  --text-paragraf-color: #757575;
  --text-fon-white-color: #ffffff;
  --text-title-color: #212121;
  --background-btn-color: #188ce8;

  --indent: 30px;
  --items: 3;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: var(--text-fon-white-color);
  color: var(--text-title-color);
  letter-spacing: 0.03em;
}
/* ------------------card set---------------- */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set-indent {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/* ------------------reset start---------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ------------------reset end---------------- */

/* ------------------HAEDER---------------- */
.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header {
  border-bottom: 1px solid #ececec;
}

.nav-list {
  display: flex;
  gap: 30px;
}
.nav-header {
  display: flex;
  gap: 50px;
}
.nav-container {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 93px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(16 / 12);
  color: var(--link-focus-color);
}

.logo-header {
  color: var(--text-title-color);
}
.nav-item {
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--text-title-color);
}
.nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--text-title-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.alert {
  color: var(--link-focus-color);
}
.nav-link::after {
  content: '';
  position: absolute;
  transform: translateX(-50%) scaleX(0.3);
  left: 50%;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -4px;

  background: var(--link-focus-color);
  opacity: 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--link-focus-color);
}
.nav-link:hover:after,
.nav-link:focus:after {
  transform: translateX(-50%) scaleX(1);
  opacity: 1;
}
.contact-nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: calc(24 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-paragraf-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav:hover,
.contact-nav:focus {
  color: var(--link-focus-color);
}
.alert::after {
  color: var(--link-focus-color);

  position: absolute;
  transform: translateX(-50%);
  left: 50%;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -4px;

  background: var(--link-focus-color);
  opacity: 1;
}
.header-icon {
  margin-right: 10px;
  fill: currentColor;
}
/* ------------------HAEDER---------------- */

/* ------------------hero---------------- */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Img\ 10.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(47, 48, 58, 0.4);
  max-width: 1600px;
  margin: 0 auto;
}
.hero-h {
  margin: 0 auto;
  text-align: center;
  width: 696px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-fon-white-color);
}
.header-btn {
  display: block;
  margin: 0 auto;
  align-items: center;
  padding: 5px 31px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 12);
  letter-spacing: 0.06em;
  color: var(--text-fon-white-color);
  cursor: pointer;
  background-color: var(--link-focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/* ------------------hero---------------- */

/* ------------------featore ---------------- */

.featore {
  padding-bottom: 0px;
}
.featore-list {
  display: flex;
  gap: 30px;
}
.featore-title {
  margin-bottom: 10px;
  width: 270px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  font-size: 14px;
  color: var(--text-title-color);
}
.featore-text {
  width: 270px;
  line-height: calc(24 / 14);
  color: var(--text-paragraf-color);
}
.featore-svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

/* ------------------featore ---------------- */

/* -----------------section-title ---------------- */

.nav-list {
  gap: 30px;
}
.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--text-title-color);
}
.section-gallery {
  position: relative;
}
.overlay-list {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;

  background: rgba(47, 48, 58, 0.8);
}
.overlay-team {
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  color: var(--text-fon-white-color);
}
/* ------------------section-title---------------- */

/* ------------------team ---------------- */
.team-list-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-title {
  margin-bottom: 10px;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--text-title-color);
}
.team-text {
  justify-content: center;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--text-paragraf-color);
}
.team-nav {
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team {
  background: #f5f4fa;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: var(--text-fon-white-color);
  outline: none;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon {
  fill: currentColor;
}
.social-link:hover,
.social-link:focus {
  color: var(--text-fon-white-color);
  background-color: var(--link-focus-color);
}
/* ------------------team ---------------- */
/* -----------------constant ---------------- */
.constant {
  padding: 94px 0;
}
.constant-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--text-title-color);
}
.constant-list {
  display: flex;
  gap: 30px;
}
.constant-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: color, border;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.constant-icon {
  fill: currentColor;
}

.constant-link:hover,
.constant-link:focus {
  border: 1px solid var(--link-focus-color);
  color: var(--link-focus-color);
}
/* -----------------constant ---------------- */

/* ------------------footer---------------- */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-left-container {
  margin-right: 70px;
  min-width: 231px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: 'Raleway';
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--link-focus-color);
}
.logo-footer {
  width: 145px;
  color: var(--text-fon-white-color);
}
.footre-items {
  margin-bottom: 9px;
}

.contact-gps {
  display: block;
  font-style: normal;
  line-height: 24px;
  color: var(--text-fon-white-color);
}
.contact-link {
  display: block;
  font-style: normal;
  line-height: calc(24 / 14);
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--link-focus-color);
}
.text {
  margin-bottom: 20px;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--text-fon-white-color);
  font-style: normal;
}
.social-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  outline: none;
  color: var(--text-fon-white-color);
  background: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-box {
  width: 44px;
  height: 44px;
}
.footer-team-icon {
  fill: currentColor;
}
.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.social-nav:hover,
.social-nav:focus {
  color: var(--text-fon-white-color);
  background-color: var(--link-focus-color);
}
.footer-form-nav {
  margin-left: 93px;
}
.footer-form-text {
  display: flex;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-fon-white-color);
}
.footer-form-mail {
  display: flex;
  gap: 12px;
  width: 358px;
  height: 50px;
  padding: 16px 15px;
  color: var(--text-fon-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-mail:focus {
  border-color: var(--link-focus-color);
}
.footer-form-mail:placeholder {
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  margin-right: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);

  color: rgba(255, 255, 255, 0.6);
}
.footer-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;

  line-height: calc(30 / 16);

  color: var(--text-fon-white-color);
  background: var(--link-focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
.footer-form-icon {
  top: 13px;
  right: 28px;
  margin-left: 10px;
}
.footer-form-box {
  display: flex;
  gap: 12px;
}

/* ------------------footer---------------- */

/* ------------------Modal-windov---------------- */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 528px;
  min-height: 581px;
  padding: 40px;
  background: var(--text-fon-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-70%);
}
.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--text-fon-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.icon-modal:hover,
.icon-modal:focus {
  fill: var(--link-focus-color);
}
.icon-modal {
  fill: currentColor;
}
.modal-label {
  display: block;

  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-title-color);
}
.modal-form-label {
  display: block;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--text-paragraf-color);

  margin-bottom: 4px;
}
.modal-form-wrapper {
  position: relative;
  margin-bottom: 10px;
}
.modal-form-field {
  width: 100%;
  height: 38px;
  padding-left: 42px;
  padding-right: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field:focus {
  border-color: var(--link-focus-color);
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-field:focus + .modal-form-icon {
  fill: var(--link-focus-color);
}
.modal-form-group {
  margin-bottom: 20px;
}
.modal-form-message {
  display: block;
  width: 100%;
  height: 118px;
  resize: none;
  padding: 16px 12px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: 1px solid transparent;
  outline-offset: -1px;
  transition-property: order-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message:focus {
  border-color: var(--link-focus-color);
}
.modal-form-message.placeholder {
  margin-left: 16px;
}

.modal-form-btn {
  display: block;
  margin: 0 auto;
  align-items: center;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  color: var(--text-fon-white-color);
  background: var(--background-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
.modal-form-agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 30px;
}
.modal-form-agreement-desc {
  user-select: none;
  font-size: 14px;
  line-height: calc(24 / 14);

  letter-spacing: 0.03em;
  color: var(--text-paragraf-color);
}
.modal-form-agreement-link {
  color: var(--link-focus-color);
  text-underline-offset: 2px;
}
.modal-form-checkbox {
  appearance: none;

  width: 16px;
  height: 15px;

  outline: 2px solid transparent;
  outline-offset: -2px;
  border: 2px solid;
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;

  transition-property: outline-color, background-color, background-size;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-checkbox:checked {
  outline-color: var(--link-focus-color);
  background-color: var(--link-focus-color);
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  background-size: 11px 8px;
}

/* ------------------Modal-windov---------------- */

/* ------------------portfolio-hero---------------- */

.portfolio-btn {
  min-width: 23px;
  min-height: 38px;

  display: inline-block;
  padding: 6px 25px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  color: var(--text-title-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--text-fon-white-color);
  background-color: var(--link-focus-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.progecr-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* ------------------progecr---------------- */
.progecr-list-text {
  background: var(--text-fon-white-color);
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}
.team-thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  opacity: 0;

  width: 370px;
  height: 294px;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;

  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--text-fon-white-color);
  background-color: rgba(33, 150, 243, 0.9);

  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
}
.progect-box:hover .overlay {
  transform: translateY(0);
  opacity: 1;
}
.project-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--text-title-color);
}
.project-teax {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--text-paragraf-color);
}
.progect-box {
  display: block;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.progect-box:hover,
.progect-box:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* ------------------progecr---------------- */
